PORT=


MONGODB_URI=
JWT_SECRET=

IMAGEKIT_PRIVATE_KEY=

//nodemailer
MAIL_USER=
MAIL_PASSWORD=


node=

//cors // is new domain wright by separating comma
ALLOWED_ORIGINS=

//stripe 
STRIPE_SECRET_KEY=
